body{
  margin: 0;
}

.container{
  display: flex;
  flex-direction: column;
}

.header{
  border: 1px solid #ff0000;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #1F2937;
  padding-left: 120px;
  padding-right: 120px;
}

.banner{
  border: 1px solid #ff0000;
  display: flex;
  align-items: center;
  background-color: #1F2937;
  height: 500px;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 30px;
}

.banner1{
height: 300px;
width: 400px;
padding-right: 30px;
}

.banner2{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #808080;
  height: 300px;
  width: 400px;
}

.info{
  border: 1px solid #ff0000;
  display: flex;
  background-color: #ffffff;
  height: 72px;
}

.signup{
  border: 1px solid #ff0000;
  display: flex;
  background-color: #ffffff;
  height: 72px;
}

.quote{
  border: 1px solid #ff0000;
  display: flex;
  background-color: #ffffff;
  height: 72px;
}

.footer{
  background-color: #1F2937;
  height: 72px;
}

button.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
  width: 100px;
  height: 25px;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 15px;
}

h1{
  font-size: 48px;
  color: #F9FAF8;
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: #ffffff90;
}

p{
  font-size: 18px;
  color: #E5E7EB;
}
